.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
    border: 3px solid var(--secondary-color);
    border-radius: 4px;
    background-color: var(--light-color);
}

.form-label {
    color: var(--dark-color);
}

.form-input {
    background-color: var(--light-color);
    color: var(--dark-color);
    padding: 5px;
    margin-bottom: 10px;
}

.form-message {
    min-height: 12rem;
    min-width: 20rem;
    resize: none;
}

.contact-button {
    margin-top: 25px;
}